doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		title test Vozhdaeva
		link(rel="stylesheet", href="css/styles.min.css")
	body.body
		header.header
			section.header_top
				img.logo.header_logo(alt="логотип" width='88' height='24' src='./img/content/logo.svg')
				a.header_location.link(href="#")
					img.header_location_icon(alt="выбор региона" width='32' height='32' src='./img/icons/city.png')
					|Москва
				label.label__search.hidden(for="searchbar") Строка поиска
				input.search.header_search(type="text" name="searchbar" id="searchbar" value="" placeholder="Учебное заведение, специальность или профессия")
				.user.header_user
					a.user_likeCounter.link(href="#") 1
					.user_name Екатерина
					img.user_avatar(alt="аватар пользователя" width='32' height='32' src='./img/content/avatar.jpg')
			nav.header_navContainer
				button.btn.header_btn.header_btn__prev.notDisplay
					span.hidden прокрутить меню назад
				ul.navigation.list.header_navigation
					li.navigation_item
						a.navigation_link.link(href="#") Вузы
					li.navigation_item.active
						a.navigation_link.link(href="#") Колледжи
					li.navigation_item 
						a.navigation_link.link(href="#") Техникумы
					li.navigation_item
						a.navigation_link.link(href="#") Училища
					li.navigation_item.navigation_item__contentSub
						a.navigation_link.link(href="#") Специальности
						ul.sublink.list
							li.sublink_item
								a.sublink_link.link(href="#") Высшее 
							li.sublink_item
								a.sublink_link.link(href="#") Среднее
					li.navigation_item
						a.navigation_link.link(href="#") Профессии
					li.navigation_item
						a.navigation_link.link(href="#") Отзывы
					li.navigation_item
						a.navigation_link.link(href="#") Учебным заведениям
					li.navigation_item
						a.navigation_link.link(href="#") Тест на профориентацию
				button.btn.header_btn.header_btn__next
					span.hidden прокрутить меню дальше 
		main.main
		footer.footer
	script(src="js/scripts.min.js")