$hover-color: #f1f1f1;

.header {
  max-width: 1920px;
  padding: 24px 352px 18px;
  position: relative;
  &_top {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 26px;
  }
  &_btn {
    width: 32px;
    height: 32px;
    background: url('../img/icons/arrow.png');
    position: absolute;

    &__prev {
      transform: rotate(180deg);
      top: 92px;
      left: 345px;
      z-index: 1;
    }

    &__next {
      top: 92px;
      right: 345px;
      z-index: 1;
    }
  }
  &_location {
    display: flex;
    align-items: center;
    margin-right: 61px;
    &_icon {
      margin-right: 8px;
      border-radius: 50%;
      &:hover {
        background-color: $hover-color;
      }
    }
  }
  &_navContainer {
    display: flex;
  }

  &_navigation {
    display: flex;
    column-gap: 30px;
    align-items: center;
  }
}

.translateToLeft {
  transform: translateX(-30px);
}

.search {
  width: 592px;
  height: 48px;
  background: $hover-color;
  border-radius: 100px;
  border: none;
  text-align: center;
  padding: 8px;
  line-height: 22px;
  margin-right: 174px;
  box-sizing: border-box;

  &:focus {
    outline: silver 2px solid;
  }
}
.label__search {
  position: relative;

  &::after {
    content: url('../img/icons/search.png');
    position: absolute;
    visibility: visible;
    height: auto;
    top: -15px;
    left: 24px;
  }
}

.user {
  display: flex;
  column-gap: 7px;
  align-items: center;

  &_likeCounter {
    box-sizing: border-box;
    width: 53px;
    padding: 5px 10px;
    height: 33px;
    margin-right: 40px;
    position: relative;
    border-radius: 37px;
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: end;

    &:hover {
      background-color: $hover-color;
    }
    &::before {
      content: url('../img/icons/like.png');
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.navigation_item {
  padding: 2px 10px;
  border-radius: 34px;
  white-space: nowrap;
  display: flex;
  position: relative;

  &__contentSub::after {
    content: url(../img/icons/arrow.png);
    position: absolute;
    top: -7px;
    right: -15px;
    width: 32px;
    transform: rotate(90deg);
  }

  &:hover,
  &:active {
    background-color: $hover-color;
  }

  &:last-child {
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 1) 60%
      );
    }
  }

  &:nth-child(2) {
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(
        to left,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 1) 90%
      );
    }
  }

  &.active::after {
    display: none;
  }
}

.activeCity {
  background-color: $hover-color;
}

.navigation_item:hover > .sublink,
.sublink:hover {
  visibility: visible;
}

.sublink {
  position: absolute;
  left: 0;
  top: 20px;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  flex-shrink: 0;
  &_item {
    padding: 10px 60px 10px 10px;
    border-radius: 34px;
    &:hover {
      background-color: $hover-color;
    }
  }
}

.citySearchMenu {
  border-radius: 10px;
  background: #fff;
  width: 400px;
  max-height: 450px;
  z-index: 1;
  position: absolute;
  top: 70px;
  left: 456px;
  padding: 24px 0 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0 7px 38px rgba(44, 62, 106, 0.25);
  box-sizing: border-box;
  overflow: hidden;

  &_doneContainer {
    padding: 12px 16px;
    border-bottom: 1px solid #d8d8d8;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
  }

  &_done {
    background: #0656b4;
    border-radius: 49px;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    padding: 9px 35px 9px 17px;
    line-height: 22px;
    position: relative;
  }

  &_delBtn {
    position: absolute;
    top: 12px;
    right: 17px;
    width: 14px;
    height: 14px;
    background-color: rgba(255, 255, 255, 0);
    &::after {
      content: url('../img/icons/close.png');
      display: block;
      width: 14px;
      height: 14px;
    }
  }

  &_saveBtn {
    font-family: Formular;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #f1f1f1;
    width: 100%;
    padding: 16px 0;
    background: #0656b4;

    &:hover {
      background-color: lighten(#0656b4, 6.25%);
    }

    &:disabled {
      background-color: #f1f1f1;
      color: #a7a7a7;
    }
  }
}

.citySearch {
  border-radius: 100px;
  height: 48px;
  font-size: 14px;
  padding: 0 40px 0 25px;
  border: 2px solid #abc8ea;
  margin: 0 16px;
  flex-shrink: 0;
}

.city {
  &_container {
    overflow-y: scroll;
  }

  &_item {
    font-size: 14px;
    line-height: 22px;
    padding: 11px 16px;
    cursor: pointer;

    &:hover {
      background-color: $hover-color;
    }
  }

  &_state:nth-child(2) {
    font-size: 12px;
    line-height: 20px;
    color: #767676;
    display: block;
  }
}
