$text-color: #222;

@import './_libs';
@import './header.scss';
@import './mobile.scss';

.body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: $text-color;
}

.hidden {
  visibility: hidden;
  width: 0;
  height: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: $text-color;
}

.btn {
  border: none;
  cursor: pointer;
}

.notDisplay {
  display: none;
}
